body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 40px;
}

h1 {
    color: #0066cc;
}
p {
    color:chartreuse;
}

a {
    color: #003399;
    text-decoration: none;
    margin: 10px;
    font-weight: bold;
}

a:hover {
    color: red;
}
